* {
  margin: 0;
  padding: 0;
}

nav {
  text-decoration: none;
  padding: 0px 25px 10px 0;
  font-size: medium;
  text-align: center;
  gap: 10px;
}

nav a::hover{
  color: rgb(0, 0, 0);
}